{% extends "base2.html" %}
{% block content%}
   
<div class="add_address">
       <a href="/address" class="add">My Locations</a>
       
       
       </div>
    <div class="register_headings">
      <div>
      <h2 class="register_heading">My Delivery Locations</h2>
    <p class="para_register">From here you may add new delivery locations</p>
     </div>
       <div class="left_labels">
     <label class="label_left">Address:</label>
     
     </br>
     
     <label class="label_left">Phone:</label>
      </br>
      
      <label class="label_left">Select Area:</label>
      </br> 
      <label class="label_left">Primary Address?</label>
      </br> 
      
     </div>
     <form action="/checkoutaddnew" method="POST">
     <div class="right_inputs">
        <form action="/register" method="POST">
          {% csrf_token %}
      <input type="text" class="input_register" name="address" placeholder="Addess" required data-fv-notempty-message="The name is required"></input>
      </br>
      <input type="tel" class="input_register" required  class="input_register" pattern="[0-9]+" name="phone" placeholder="Phone Number"></input>
      </br>
        <select name="Area" class="input_register" style="height:30px" required >
    <option value="82">Academic City</option>
    <option value="13">Al Barari - Dubailand</option>
    <option value="20">Al Barsha (1,2,3)</option>
    <option value="83">Al Barsha South</option>
    <option value="125">Al Hudaiba</option>
    <option value="84">Al Mamzar</option>
    <option value="38">Al Manara</option>
    <option value="124">Al Mina</option>
    <option value="85">Al Muntazah Complex</option>
    <option value="36">Al Nahda (1,2)</option>
    <option value="86">Al Quoz 4 / Al Khail Gate Village</option>
    <option value="87">Al Quoz Industrial (1,2,3,4)</option>
    <option value="21">Al Quoz Residential (1,2)</option>
    <option value="88">Al Qusais (1,2)</option>
    <option value="6">Al Safa (1,2)</option>
    <option value="14">Al Satwa / Al Badaa</option>
    <option value="37">Al Sufouh</option>
    <option value="89">Al Twar (1,2,3)</option>
    <option value="9">Al Waha Community</option>
    <option value="90">Al Warqa (1,2)</option>
    <option value="39">Al Wasl</option>
    <option value="7">Arabian Ranches</option>
    <option value="4">Bur Dubai</option>
    <option value="22">Business Bay</option>
    <option value="91">DAFZA</option>
    <option value="1">Deira - Abu Hail</option>
    <option value="92">Deira - Al Baraha</option>
    <option value="93">Deira - Al Muteena</option>
    <option value="94">Deira - Al Rigga</option>
    <option value="95">Deira - Al Wuheida</option>
    <option value="96">Deira - Creekside</option>
    <option value="97">Deira - Hor Al Anz</option>
    <option value="98">Deira - Muraqqabat</option>
    <option value="123">Deira - Naif</option>
    <option value="99">Deira - Port Saeed</option>
    <option value="100">DFC - Dubai Festival City</option>
    <option value="40">DIC - Dubai Internet City</option>
    <option value="23">DIFC</option>
    <option value="101">Discovery Gardens</option>
    <option value="19">DMC - Dubai Media City</option>
    <option value="26">Downtown Burj Khalifa</option>
    <option value="15">Dubai Marina</option>
    <option value="104">Emirates Hills</option>
    <option value="102">Falcon City - Dubailand</option>
    <option value="2">Garhood</option>
    <option value="10">Green Community</option>
    <option value="17">Greens, The</option>
    <option value="33">Ibn Battuta Mall</option>
    <option value="105">IMPZ</option>
    <option value="106">International City</option>
    <option value="35">Jaffliyah</option>
    <option value="8">JAFZA</option>
    <option value="24">JBR - Jumeirah Beach Residence</option>
    <option value="107">Jebel Ali Gardens</option>
    <option value="16">JLT - Jumeirah Lake Towers</option>
    <option value="25">Jumeirah (1,2,3)</option>
    <option value="132">Jumeirah Golf Estates</option>
    <option value="108">Jumeirah Islands / Jumeirah Park</option>
    <option value="12">Jumeirah Village (Circle/Triangle)</option>
    <option value="41">Karama Area</option>
    <option value="109">Khawaneej Area</option>
    <option value="42">Knowledge Village</option>
    <option value="43">Laiyan Community</option>
    <option value="122">Lakes, The</option>
    <option value="27">Lamcy Plaza Area</option>
    <option value="110">Meadows, The</option>
    <option value="3">Mirdif</option>
    <option value="111">Mizher 1</option>
    <option value="112">Mizher 2</option>
    <option value="11">Motor City</option>
    <option value="113">Muhaisnah 1</option>
    <option value="114">Muhaisnah 2</option>
    <option value="115">Nad Al Hamar</option>
    <option value="116">Nad Al Shiba (1,2,3,4)</option>
    <option value="28">Oud Metha</option>
    <option value="29">Palm Jumeirah</option>
    <option value="117">Ras Al Khor</option>
    <option value="118">Rashidiya</option>
    <option value="119">Silicon Oasis</option>
    <option value="120">Sports City</option>
    <option value="121">Springs, The</option>
    <option value="5">SZR - 1st - 4th Interchange</option>
    <option value="30">SZR - Trade Center to 1st Interchange</option>
    <option value="18">TECOM</option>
    <option value="44">Umm Al Sheif</option>
    <option value="31">Umm Suqeim (1,2,3)</option>
    <option value="103">Villas Compound - Dubailand</option>
    <option value="32">Wafi City</option>
    <option value="45">Zaabeel</option>
    <option value="126">ZZ-1 (Wafi City)</option>
    <option value="127">ZZ-2 (Deira Creek)</option>
    <option value="128">ZZ-3 (Jumeirah / Beach Road)</option>
    <option value="129">ZZ-4 (Dubai Mall / Downtown Burj)</option>
    <option value="130">ZZ-5 (Dubai Marina / JBR)</option>
    <option value="131">ZZ-6 (Garhoud)</option>

  </select> 
      </br>   
      </br>
      <input type="checkbox" name="primary" checked="checked" onClick="isTrue()" id="id_primary" value="True">
    </br>
     <div style="float:left;margin-left:90px;">
     <input value="Add New" id="ContentPlaceHolder1_btnAddNew" type="submit" style="background:#353535;color:#fff;width:100px;height:30px;border-radius:6px; margin-left:50px;">
     </div>
     </div>
   </form>
   <script type="text/javascript">
    function isTrue()
    {
      if(document.getElementById('id_primary').checked) 
      {
        document.getElementById('id_primary').value="True"; 
      }
      else
      {
        document.getElementById('id_primary').value = "False";
      }
    }
   </script>
{% endblock%}
