<html>
<head>

</head>
<body>
<div style="border-radius:6px;padding-left:1%;">
<header>
	<img src="http://i.imgur.com/eCP7ZD5.jpg" width="1250" height="200"></img>
</header>
<br><br>
<font color="black">
<p>Dear {{firstname}}</p>
<center>
<table style="float:left">
<tr>
<td>Your UserName: {{email}}</td>
</tr>
<tr>
<td>Password: {{password}}</td>
</tr>

<tr>
<td></td>
</tr>
<tr>
<td>Again, thank you and we are looking forward to serve you in the very near future.</td>
</tr>
<tr>
<td>Regards,</td>
</tr>
<tr>
<td>Pantry Cafe TEAM</td>
</tr>
</table>
</center>
</br>
<br><br><br><br><br><br><br><br><br><br></font>
<footer style="color:#fff;text-align:center;background-color:#e41b23" height="36">
	<div id="footer_top">
        <p id="social"> 
        <span>Follow us on:</span> 
        <a href="https://www.facebook.com/PantryCafe"
                        target="_blank"> 
                        
                        <img src="http://i.imgur.com/jEHKtoP.jpg" width="20" height="20" /></a> 
                        <a href="https://twitter.com/pantry_cafe" target="_blank"> 
                        
                        <img src="http://i.imgur.com/nUFnMwk.jpg" width="20" height="20" /></a>
                        
                         <a href="https://plus.google.com/103762818855993196887/about" target="_blank"> <img src="http://i.imgur.com/rQSrvGG.png" width="20" height="20" /></a>
                         
                          </p>
      </div><center>
&copy; All right reserved</center>
</footer>
</div>

</html>

