{% extends "base.html"%}    
{% block content %}
    <div id="content_home">
    
    <div class="register_headings">
     
     <h2 class="howtoorder">How to order</h2>
     
     <p class="choose_para">Choose your favorite dishes from pantry cafe.
</p>
     
     <ul class="list_order">
     
     <li>Choose your dishes, the quantities, and add to your basket. Choose dish options when applicable.
 </li>
     <li>Once you have everything you need, simply click on<span style="color:#f00;font-weight:bold;"> “Checkout”</span>.
</li>
     <li>Log in to proceed. If you are a new customer, please take a couple of minutes to register first.
</li>
     <li>Schedule your delivery (immediate or for a specific date &time). Choose your payment method.
</li>
     <li>You can also add a new delivery address if you wish.
</li>
     <li>Put in your “Special Request” (light shopping, not to ring the doorbell, etc). Submit your order.
</li>
     
     
     
     </ul>
     <p class="choose_para">Allow approximately 45 - 60 minutes for delivery.
</p>
     
     <ul class="list_order">
     
     <li>We deliver from some of Jumerah and Business restaurants within 40 minutes.
</li>
     <li>To guarantee a quicker delivery service we recommend that you place your order from a restaurant in your delivery area. However, if for reasons beyond our control there is going to be a delay, you will be notified.
</li>
     <li>If you wish to schedule a delivery for a specific time, you are welcome to place the order in advance. Please ask your operator for any further details.
</li>
    
     
     
     </ul>
     
      <p class="choose_para">Cancelling your order.</p>
     
     <p class="para_cancel" style="margin-left:16px;">An order can only be cancelled within <span style="color:#f00; font-weight:bold;"> 5 minutes</span> of placing it. 
</p>
     
      <p class="choose_para">Delivery Times  <span style="font-size: 14px; font-style:italic; font-weight:normal;">(Subject to restaurant opening times)</span></p>
     <p style="font-size: 15px;margin-left: 30px;">Saturday to Thursday:   &nbsp;    &nbsp;   &nbsp;   &nbsp;   &nbsp; 11:00 - 23:00</p>
     <p style="font-size: 15px; margin-bottom:60px;margin-left: 30px;">Fridays and public holidays: &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;12:00 - 23:00</p>
     
     </div>
     
     
     
     
    </div>
    
    
    
    {% endblock%}