<html>
<head>

</head>
<body>
<div style="border-radius:6px;padding-left:1%;">
<header>
	<img src="http://i.imgur.com/eCP7ZD5.jpg" width="1250" height="200"></img>
</header>
<br><br>
<font color="black">
<p>Dear {{firstname}}</p>
<h2> Welcome, </h2>
<p>Thank you for registering as a member of <b>Pantry cafe</b>. Kindly save this email as a handy reference guide:</p>

<p>Your Account Information are: </p>
<center>
<table style="float:left">
<tr>
<td>Email Address:</td><td>{{email}}</td>
</tr>
<tr>
<td>Password:</td><td>{{password}}</td>
</tr>
</table>
</center>
</br>
</br>
</br>
</br>
<p>Please activate your account by clicking <a href="http://localhost:8000/verify?email={{email}}&vcode={{vcode}}">here.</a></p>
</br>
</br>
</br>
</br>
<p>Need Help?</br>
Contact a Customer Service Representative at +971 4 558 7161</br>
or email us at info@pantrycafe.me</p>
</br>
<p>Again, thank you and we are looking forward to serve you in the very near future.
 </br>
Regards,</br>
Pantry Cafe TEAM</p>
<br><br><br><br><br><br><br><br><br><br></font>
<footer style="color:#fff;text-align:center;background-color:#e41b23" height="36">
	<div id="footer_top">
        <p id="social"> 
        <span>Follow us on:</span> 
        <a href="https://www.facebook.com/PantryCafe"
                        target="_blank"> 
                        
                        <img src="http://i.imgur.com/jEHKtoP.jpg" width="20" height="20" /></a> 
                        <a href="https://twitter.com/pantry_cafe" target="_blank"> 
                        
                        <img src="http://i.imgur.com/nUFnMwk.jpg" width="20" height="20" /></a>
                        
                         <a href="https://plus.google.com/103762818855993196887/about" target="_blank"> <img src="http://i.imgur.com/rQSrvGG.png" width="20" height="20" /></a>
                         
                          </p>
      </div><center>
&copy; All right reserved</center>
</footer>
</div>

</html>

